/* .frame {
    position: relative;
    width: 1920px;
    height: 1080px;

    background: #202020;
} */

body {
    background: #202020;
}

.портфолио {
    position: absolute;
    width: 131px;
    height: 29px;
    left: 274px;
    top: 40px;

    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */

    color: #FFFFFF;
}

.цены {
    position: absolute;
    width: 64px;
    height: 29px;
    left: 463px;
    top: 40px;

    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */


    color: #FFFFFF;
}

.отзывы {
    position: absolute;
    width: 93px;
    height: 29px;
    left: 585px;
    top: 40px;

    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */


    color: #FFFFFF;
}

.контакты {
    position: absolute;
    width: 112px;
    height: 29px;
    left: 736px;
    top: 40px;

    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */

    color: #FFFFFF;
}

.имя {
    position: absolute;
    width: 747px;
    height: 145px;
    left: 123px;
    top: 281px;

    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 145px;
    /* identical to box height */


    color: #FFFFFF;

    /* border: 2px solid #FFFFFF; */
}

.фотограф {
    position: absolute;
    width: 112px;
    height: 29px;
    left: 150px;
    top: 466px;

    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */


    color: #FFFFFF;
}

.смотрю {
    position: absolute;
    width: 506px;
    height: 39px;
    left: 123px;
    top: 518px;

    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    /* identical to box height */


    color: #FFFFFF;
}

.записаться {
    position: absolute;
    width: 136px;
    height: 29px;
    left: 269px;
    top: 810px;

    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */


    color: #FFFFFF;
}

.rickastley {
    position: absolute;
    width: 681px;
    height: 948px;
    left: 1039px;
    top: 20px;

    /* background: url(rickastley.png); */
}

.камера {
    position: absolute;
    width: 100px;
    height: 95px;
    left: 86px;
    top: 21px;

}

.инстаграм {
    position: absolute;
    width: 43px;
    height: 41px;
    left: 1849px;
    top: 386px;
}

.вибер {
    position: absolute;
    width: 65px;
    height: 65px;
    left: 1838px;
    top: 444px;
}

.самолёт {
    position: absolute;
    width: 46px;
    height: 46px;
    left: 1846px;
    top: 526px;

    background: url(самолёт.png);
}

.rectangle {
    box-sizing: border-box;

    position: absolute;
    width: 427px;
    height: 81px;
    left: 123px;
    top: 808px;

    border-width: 4px 6px 4px 1px;
    border-style: solid;
    border-color: #136B04;
}

.line1 {
    position: absolute;
    width: 280px;
    height: 0px;
    left: 1725px;
    top: 200px;

    border: 3px solid #136B04;
    transform: rotate(90deg);
}

.line2 {
    position: absolute;
    width: 280px;
    height: 0px;
    left: 1725px;
    top: 750px;

    border: 3px solid #136B04;
    transform: rotate(90deg);
}

.rectangle2 {
    position: absolute;
    width: 1903px;
    height: 1080px;
    left: 0px;
    top: 1080px;

    background: #EFEFEF;
}

.услуги {
    position: absolute;
    width: 181px;
    height: 39px;
    left: 869px;
    top: 1134px;

    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    /* identical to box height */

    color: #000000;
}

.портрет {
    position: absolute;
    width: 133px;
    height: 39px;
    left: 220px;
    top: 1727px;

    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    /* identical to box height */

    color: #000000;
}

.портрет_текст {
    position: absolute;
    width: 344px;
    height: 24px;
    left: 128px;
    top: 1789px;

    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: #000000;
}

.портрет_картинка {
    position: absolute;
    width: 318px;
    height: 212px;
    left: 128px;
    top: 1463px;

    background: url(портрет.png);
}

.семфото {
    position: absolute;
    width: 244px;
    height: 39px;
    left: 835px;
    top: 1727px;

    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    /* identical to box height */


    color: #000000;
}

.семфото_текст {
    position: absolute;
    width: 253px;
    height: 48px;
    left: 833px;
    top: 1789px;

    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: #000000;
}

.семфото_картинка {
    position: absolute;
    width: 317.5px;
    height: 212px;
    left: 801px;
    top: 1463px;

    background: url(фэмилу.png);
}

.видеосъемка {
    position: absolute;
    width: 214px;
    height: 39px;
    left: 1526px;
    top: 1727px;

    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    /* identical to box height */


    color: #000000;
}

.видеосъемка_текст {
    position: absolute;
    width: 385px;
    height: 48px;
    left: 1462px;
    top: 1789px;

    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: #000000;
}

.видеосъемка_картинка {
    position: absolute;
    width: 318.44px;
    height: 212px;
    left: 1474px;
    top: 1463px;

    background: url(видево.png);
}

.rectangle3 {
    position: absolute;
    width: 1903px;
    height: 1080px;
    left: 0px;
    top: 2160px;

    background: #D9D9D9;
}

.Обо_мне {
    position: absolute;
    width: 133px;
    height: 39px;
    left: 893px;
    top: 2212px;

    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    /* identical to box height */


    color: #000000;
}

.обо_мне_текст1 {
    position: absolute;
    width: 596px;
    height: 48px;
    left: 112px;
    top: 2381px;

    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: #000000;
}

.обо_мне_текст2 {
    position: absolute;
    width: 547px;
    height: 48px;
    left: 112px;
    top: 2480px;

    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: #000000;
}

.обо_мне_текст3 {
    position: absolute;
    width: 592px;
    height: 48px;
    left: 112px;
    top: 2579px;

    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: #000000;
}

.обо_мне_текст4 {
    position: absolute;
    width: 582px;
    height: 24px;
    left: 108px;
    top: 2678px;

    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: #000000;
}

.обо_мне_текст5 {
    position: absolute;
    width: 277px;
    height: 24px;
    left: 108px;
    top: 2753px;

    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: #000000;
}

.обо_мне_фото {
    position: absolute;
    width: 600px;
    height: 600px;
    left: 1155px;
    top: 2353px;

    background: url(фото.png);
}

.записаться_кнопка {
    box-sizing: border-box;

    position: absolute;
    width: 427px;
    height: 81px;
    left: 172px;
    top: 2912px;

    border-width: 4px 6px 4px 1px;
    border-style: solid;
    border-color: #323232;
}

.записаться_текст {
    position: absolute;
    width: 136px;
    height: 29px;
    left: 318px;
    top: 2938px;

    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */


    color: #000000;
}

.rectangle4 {
    position: absolute;
    width: 1903px;
    height: 1080px;
    left: 0px;
    top: 3240px;

    background: #FFFFFF;
}

.отзывы2 {
    position: absolute;
    width: 124px;
    height: 39px;
    left: 898px;
    top: 3292px;

    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    /* identical to box height */


    color: #000000;
}

.Антон {
    position: absolute;
    width: 265px;
    height: 39px;
    left: 242px;
    top: 3889px;

    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    /* identical to box height */


    color: #000000;
}

.Антон_текст {
    position: absolute;
    width: 429px;
    height: 48px;
    left: 160px;
    top: 3954px;

    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: #000000;

}

.Антон_картинка {
    position: absolute;
    width: 300px;
    height: 300px;
    left: 225px;
    top: 3519px;

    background: url(жмайсымба);
}

.Дмитрий {
    position: absolute;
    width: 263px;
    height: 39px;
    left: 828px;
    top: 3889px;

    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    /* identical to box height */


    color: #000000;
}

.Дмитрий_текст {
    position: absolute;
    width: 300px;
    height: 24px;
    left: 810px;
    top: 3954px;

    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: #000000;

}

.Дмитрий_картинка {
    position: absolute;
    width: 300px;
    height: 300px;
    left: 810px;
    top: 3519px;

    background: url(керил);
}

.Игорь {
    position: absolute;
    width: 195px;
    height: 39px;
    left: 1412px;
    top: 3889px;

    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    /* identical to box height */


    color: #000000;
}

.Игорь_текст {
    position: absolute;
    width: 351px;
    height: 24px;
    left: 1334px;
    top: 3954px;

    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: #000000;
}

.Игорь_картинка {
    position: absolute;
    width: 300px;
    height: 300px;
    left: 1360px;
    top: 3519px;

    background: url(терминатор);
}