@page "/laba"
@using System.Net
@using System.Text


<h3>Page</h3>
<img src="https://localhost:7091/Picture"/>
<iframe width="100" height="115" src="https://localhost:7091/Table" frameborder="0"></iframe>
<br>
<iframe width="160" height="115" src="https://localhost:7091/Msg" frameborder="0"></iframe>
@code {

}
