body {
    background-image: url(background.png);
    background-color: rgb(24, 23, 23);
}

h1 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    font-size: 68px;
}

p {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: white;
    font-size: 16x;
}

a {
    text-decoration: none;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: white;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.6;
}

.px48 {
    margin-left: 3%;
    font-size: 48px;
}

.anim {
    color: #5a5a5a;
    /* Цвет текста */
    background: rgb(69, 72, 77);
    /* Цвет фона */
    padding: 6px;
    /* Поля вокруг текста */
    transition: 0.15s linear;
    /* Время изменения */
    width: 35%;
    margin-left: 15%;

}

.anim:hover {
    color: #3a3838;
    /* Цвет текста */
    background: rgb(172, 180, 189);
}