@{

}

<form method="post">
		<p>
			<label>User Name </label>
			<input name="Name"/>
		</p>
		<p>
			<label>Age </label>
			<input name="Age"/>
		</p>
		<p>
			<label>Email </label>
			<input name="Email"/>
		</p>
		<p>
			<input type="submit" value="Submit" />
		</p>
</form>
