body {
    margin: 0;
    padding: 0;
    font: 75%/120% sans-serif;
    margin-left: 23%;
}

.smallImg
{
    width: 200px;
    height: 200px;
    float: left;
}

#largeImg {
    border: solid 1px #ccc;
    width: 950px;
    height: 600px;
    padding: 5px;
}

#thumbs a:hover {
    border-color: #FF9900;
}

#thumbs li{
    list-style: none;
}

#thumbs {
    margin: 0;
    padding: 0;
}
