body{
    margin-left: 29%;
    font-size: 128px;
    background-image: url(xp.jpg);
    color: green;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}